Timestamp: {{ timestamp }}
Log date: {{ logdate }}
Server hostname: {{ hostname }}
Running kernel: {{ kernel }}
Kernel built: {{ kernel_built }}
Last sync'd on: {{ lastsync }}
gentoo profile: {{ profile }}
runs on the day: {{ runs }}
merges: {% for merge in merges %}
   {{ merge }} {% endfor %}
Build failures: {% for fail in build_fails %}
   {{ fail }} {% endfor %}
Keyword/Useflag changes required: {% for ku in keyword_useflag %}
   {{ ku }} {% endfor %}
Blockers: {% for block in errors %}
   {{ block }} {% endfor %}
Unread news: {% for nws in unread_news %}
   {{ nws }} {% endfor %}
Obsolete items: {% for obs in obsolete %}
   {{ obs }} {% endfor %}
Check config: {% for chk in check_config %}
   {{ chk }} {% endfor %}
