Timestamp: {{ timestamp }}
Log date: {{ logdate }}
Server hostname: {{ hostname }}
Portage installed/available: {{ installed_version }}/{{ best_available }} (Upgrade available={{ update_available }})
Running kernel: {{ kernel }}
Kernel built: {{ kernel_built }}
Last sync'd on: {{ lastsync }}
gentoo profile: {{ profile }}
Gcc profile:
  current: {{ gcc.current }}
  available: {% for gcc in gcc.available %}
    {{ gcc }} {% endfor %}
Binutils profile:
  current: {{ binutils.current }}
  available: {% for binutil in binutils.available %}
    {{ binutil }} {% endfor %}
runs on the day: {{ runs }}
Merges: {% for merge in merges %}
   {{ merge }} {% endfor %}
Preserved Libraries: {% for lib in preserved_libs %}
   {{ lib }} {% endfor %}
Downgrades: {% for package, detail in downgrades.items() %}
   {{ package }} : from {{ detail.from_version }}, to {{ detail.to_version }} {% endfor %}
Build failures: {% for fail in build_fails %}
   {{ fail }} {% endfor %}
Keyword/Useflag changes required: {% for ku in keyword_useflag %}
   {{ ku }} {% endfor %}
Blockers: {% for block in errors %}
   {{ block }} {% endfor %}
Unread news: {% for nws in unread_news %}
   {{ nws }} {% endfor %}
Obsolete items: {% for obs in obsolete %}
   {{ obs }} {% endfor %}
Check config: {% for chk in check_config %}
   {{ chk }} {% endfor %}
Qcheck differences: {% for qck in qcheck_diff %}
   {{ qck }} {% endfor %}
