Timestamp: {{ timestamp }}
Log date: {{ logdate }}
Server hostname: {{ hostname }}
Running kernel: {{ kernel }}
Last sync'd on: {{ lastsync }}
gentoo profile: {{ profile }}
runs on the day: {{ runs }}
merges: {% for merge in merges %}
   {{ merge }} {% endfor %}
