Update Report for {{ hostname }} at {{ timestamp }}
===================================================

[TOC]

#### Summary Report

There were {{ merges|length }} merges
{%- if downgrades|length > 0 -%}
, with {{ downgrades|length }} downgrades,
{% endif -%}
{%- if  preserved_libs|length > 0 -%}
leaving {{ preserved_libs|length }} preserved libraries
{% endif -%}
.

Portage was last sync'd at {{ lastsync }}

##### Kernel Information

{% if kernel_built is not none %}
This kernel was built: {{ kernel_built }}
{% endif %}

The running kernel is: {{ kernel }}

##### Portage Information

The installed version of portage is: {{ installed_version }}
{% if installed_version != best_available %}
!!! note
    The best available version of portage is: {{ best_available }}
{% endif %}

{% if  merges|length > 0 %}
#### Merge Report

There were {{ merges|length }} merges.

Merges      |
----------- | {% for merge in merges %}
{{ merge }} | {% endfor %}

Including any emerges run to pre-fetch distfiles, there were {{ runs|length }} runs on the day.
{% endif %}

{% if downgrades|length > 0 %}
#### Package Downgrades

There were {{ downgrades|length }} downgrades.

Package       | From Version              | To Version              |
------------- |-------------------------- | ----------------------- | {% for package, detail in downgrades.items() %}
{{ package }} | {{ detail.from_version }} | {{ detail.to_version }} | {% endfor %}
{% endif %}

{% if preserved_libs|length > 0 %}
#### Preserved Libraries:

{{ preserved_libs|length }} preserved libraries were left.

Libraries  |
---------- | {% for lib in preserved_libs %}
{{ lib }}  | {% endfor %}
{% endif %}

#### {{ hostname }} Configuration

The gentoo profile in force is: {{ profile }}

#### python Profile

The current python profile in force is: {{ python.current }}

{% if python.available|length > 1 %}
The available python profiles are:

Version   |
--------- | {% for py in python.available %}
{{ py }} | {% endfor %}
{% endif %}

#### gcc Profile

The current gcc profile in force is: {{ gcc.current }}

{% if gcc.available|length > 1 %}
The available gcc profiles are:

Version   |
--------- | {% for gcc in gcc.available %}
{{ gcc }} | {% endfor %}
{% endif %}

#### binutils Profile

The current binutils profile is: {{ binutils.current }}

{% if binutils.available|length > 1 %}
The available binutils profiles are:

Version       |
------------- | {% for binutil in binutils.available %}
{{ binutil }} | {% endfor %}
{% endif %}

#### {{ hostname }} Security Report

##### GLSA Reports

TODO

##### Changed File Qcheck Report (Delta from last Run)

These anomalies were detected by qcheck(1) (these are differences detected from the previous run):

File       |
---------- | {% for qck in qcheck %}
{{ qck }}  | {% endfor %}

##### Full Changed File Qcheck Report

This is the full list of differences reported by qcheck (from the installation database):

File       |
---------- | {% for qck in qcheck_diff %}
{{ qck }}  | {% endfor %}

##### oam Configuration Issues

These issues were reported by the `oam checkconfig` tool:

Item |
----------| {% for chk in check_config %}
{{ chk }} | {% endfor %}


#### {{ hostname }} Miscellaneous Information

##### Unread News Items

Item      |
----------| {% for nws in unread_news %}
{{ nws }} | {% endfor %}

##### Obsolete Items

These items were reported as obsolete by `eix`:

Item      |
----------| {% for obs in obsolete %}
{{ obs }} | {% endfor %}

#### {{ hostname }} Emerge Log Summary

This section is a summary of all the issues detected by `oam` on the day (some issues may have
been already corrected).

{% if build_fails|length > 0 %}
##### Build Failure Log Messages

Item      |
----------| {% for fail in build_fails %}
{{ fail }} | {% endfor %}
{% endif %}

{% if keyword_useflag|length > 0 %}
##### Keyword and Useflag Changes

Item      |
----------| {% for ku in keyword_useflag %}
{{ ku }} | {% endfor %}
{% endif %}

{% if errors|length > 0 %}

##### Errors and Emerge Blockers

```
{% for block in errors %}
{{ block }}
{% endfor %}
```

{% endif %}
